.password-input {
  position: relative;
}

.password-input .icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-input input[type="password"] {
  padding-right: 30px;
}