.container-form-login{

  flex-direction: column;
  background-color: red($color: #000000);
  flex:1;
  display: flex;
  max-width: 390px;
    width: 100%;
}

.margin-top-20px {
  margin-top: 20px;
}
.justify-content-center {
  justify-content:center;
}

.justify-content-end {
  justify-content: flex-end;
}
.align-items-center{
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}
.column {
  width: 100%;
  margin-bottom: 20px
}

.column-text-overlay {
  width: 100%;
  margin-bottom: 16px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 400;
  border: none;
  font-size: var(--fs-400) !important;
  letter-spacing: 1px;
  background: #6C6C6C;
  color: #fff;
  border-radius: 8px;
  height: 60px;
}

.link-form-login {
  text-decoration: none;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;

  &:hover{
      color: #9400D3;
  }
}