
body {
  margin: 0;
  background-color: #222222;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

    .input-element:focus::-webkit-input-placeholder {
      color: transparent;
    }
  
    .input-element:focus:-ms-input-placeholder {
      color: transparent;
    }
  
    .input-element:focus::placeholder {
      color: transparent;
    }
  
    .input-element:focus {
      -webkit-text-fill-color: currentcolor !important;
      caret-color: currentcolor !important;
      -webkit-box-shadow: 0 0 0px 1000px #6C6C6C inset !important;
      box-shadow: 0 0 0px 1000px #6C6C6C inset !important;

        outline-color: #C5C5C5;
          /* altere a cor para a desejada */
          outline-style: solid;
          outline-width: 1px;
     
     
    }
  
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-transition-delay: 9999s;
      -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
      background-color: rgba(255, 0, 0, 0) !important;
      color: currentcolor !important;
      font-size: 1rem;

     
    }
    



.padding-form {
  padding: 0px 16px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  color: white;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  color: white;
}


.App-link {
  color: #9400d3;
}

.login-background { 
  background: linear-gradient(rgba(122, 0, 174, 0.8),
      rgba(122, 0, 174, 0.8)), 
      url('./assets/mulher.png') ; 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  
}

.max-w-full {
  max-width: 100%;
}

.bg-gradient-to-br {
  background: linear-gradient(to bottom right, #8b008b, #4b0082, #9400d3);
}

.from-purple-800 {
  background-color: #4b0082;
}

.via-purple-700 {
  background-color: #9400d3;
}

.to-purple-900 {
  background-color: #8b008b;
}

.flex-wrap {
  flex-wrap: wrap;
}

.sm\:justify-center {
  @media (min-width: 640px) {
    justify-content: center;
  }
}

.items-center {
  align-items: center;
}

.pt-6 {
  padding-top: 1.5rem;
}

.sm\:pt-0 {
  @media (min-width: 640px) {
    padding-top: 0;
  }
}

.sm\:w-1\/2 {
  @media (min-width: 640px) {
    width: 100%;
  }
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;

}

.width100perc {
    width: 100%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.sm\:justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.ml-2 {
  margin-left: 0.5rem;
}

.font-semibold {
  font-weight: 600;
}

.text-gray-100 {
  color: #f7fafc;
}

.relative {
  position: relative;
}

.w-full {
  width: 100%;
}

.sm\:max-w-sm {
  max-width: 20rem;
}

.sm\:w-1\/2 {
  width: 50%;
}

.w-screen {
  width: 100%;
}

.h-screen {
  height: 100vh;
}

.text-gray-600 {
  color: #cbd5e0;
}

.text-gray-400 {
  color: #a0aec0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}


input {
  width: 100%;
  padding: 0.5rem;
  font-weight: 400;
  border: none;
  font-size: var(--fs-400) !important;
  letter-spacing: 1px;
  background: #6C6C6C;
  color: #fff;
  border-radius: 8px;
  height: 45px;
  font-size: 1rem;
}

input:focus{
  border: 1px solid #C5C5C5 !important;
}

.button {
  width:100%;
  height: 60px;
  background-color: #9400D3;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;

  &::placeholder {
    color: white;
  }

  &:hover {
    background-color: #8B008B;
  }
}

.label{
    margin-bottom: 0.25rem;
    display: inline-block;
    color: white;
    font-weight: 500;
    font-size: var(--fs-400);
}

.separator20px
 {
 margin-bottom: 20px;
 }

$google-icon-size: 20px;
.googleIcon {
  width: $google-icon-size;
  height: $google-icon-size;
  margin-right: 10px;
}

.button-google {
  width: 100%;
  height: 45px;
  background-color: #222222;
  border: 1px solid #343434;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  transition: background-color 0.2s;

  &:hover {
    background-color: #444444;
  }


}


/* Estilos para dispositivos móveis */
@media (max-width: 640px) {
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input {
    width: 100%;

  }

  .button {
    width: 100%;
    margin-bottom: 20px;
  }

  .loginButton {
    width: 100%;
    margin-bottom: 20px;
  }


  .sm\:w-1\/2 {
    width: 100%;
  }

}

/* Estilos para dispositivos maiores */
@media (min-width: 641px) {
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .input {
    padding: 15px 12px;
    width: 100%;
  }

  .checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }

  .m:w-full {
    width: 100%;
  }
}

/* Estilos comuns a todos os dispositivos */
.login-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 0%;
}

.login-form-content {
  max-width: 512px;
}

.width-100perce {
  width: 100%;
}




