* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-navbar {
  position: fixed;
  width: 25%;
  height: 1460px;
  background: #222222;
  box-shadow: 5px 0px 4px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  flex-direction: column;
  right: 75%;
}
.name-usuario {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100px;
  margin-top: 20px;
}
.name-usuario button {
  width: 80px;
  height: 80px;

  border-radius: 50%;
  background: #6c6c6c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  margin-right: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  cursor: pointer;

  color: #9400d3;
}
.name-usuario h2 {
  width: 300px;
  height: 38px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32;
  line-height: 38px;

  color: #9400d3;
}

.opcoes-usuario {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 50px;
}
.container-usuarios img {
  width: 30px;
  height: 30px;
  margin: 0px 28px 0px 71px;
}
.container-usuarios .assinatura {
  margin: 0px 23px 0px 76px;
}
.container-usuarios h3 {
  width: 227px;
  height: 28px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 28px;

  color: #bebebe;
}
.container-usuarios {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: start;
  margin-bottom: 26px;
  margin-right: 80px;
}
.container-button {
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.container-button img {
  margin-right: 30px;
}

.container-button button {
  width: 410px;
  height: 65px;
  border: none;
  background: #9400d3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 1670px) {
  .name-usuario h2 {
    font-size: 30px;
  }
  .name-usuario button {
    width: 80px;
    height: 80px;
  }
  .container-button button {
    width: 370px;
  }
}

@media (max-width: 1510px) {
  .name-usuario h2 {
    font-size: 28px;
  }
  .name-usuario button {
    width: 90px;
    height: 70px;
    font-size: 22px;
  }
  .container-button button {
    width: 270px;
    font-size: 20px;
  }
  .container-usuarios h3 {
    font-size: 22px;
  }
}
@media (max-width: 1280px) {
  .name-usuario h2 {
    font-size: 20px;
  }

  .name-usuario button {
    width: 80px;
    height: 60px;
    font-size: 18px;
  }
  .container-button button {
    width: 230px;
    font-size: 18px;
    padding: 10px;
  }
  .container-usuarios h3 {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .name-usuario button {
    width: 80px;
    height: 50px;
  }
  .name-usuario h2 {
    font-size: 15px;
  }
  .container-usuarios h3 {
    font-size: 17px;
  }
  .container-usuarios img {
    width: 25px;
    height: 25px;
  }
  .container-button button {
    width: 200px;
    font-size: 15px;
  }
  .container-button img {
    width: 18px;
    height: 18px;
  }
}

// ESTILO PARA O POST FEED

.container-post {
  margin-left: 11px;

  width: 50%;
  height: 1460px;
  margin: 0 auto;
  top: 0px;
  background: #222222;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
}
.main-post {
  width: 100%;
  height: 350px;
  left: 3px;
  top: 0px;

  background: #222222;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 20px 20px;
}
.publi-post {
  width: 90%;
  height: 120px;
  background: #222222;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #bebebe;
  border-left: 31px;
  align-items: center;
  margin: 0 auto;
}
.publi-post h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  margin: 39px 0px 0px 38px;
}

.publi-post img {
  cursor: pointer;
  margin: 49px 25px 10px 0px;
  width: 30px;
  height: 30px;
}

.nova-publi {
  width: 90%;
  height: 80px;
  margin: 0 auto;
}
.nova-publi p {
  width: 249.42px;
  height: 28.84px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #bebebe;
  margin: 25px 0px 0px 30px;
}
.baixar-publi {
  width: 90%;
  height: 110px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
}
.baixar-publi img {
  margin-top: 50px;
  margin-right: 20px;
}
.container-button {
  width: 90%;
  height: 100px;
  left: -10px;
  top: 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  display: flex;
  align-items: center;
  justify-self: flex-end;
}

.container-button .button-feed {
  background: #b9b9b9;
  color: #2d2d2d;
}
.container-postagem {
  width: 100%;
  height: 680px;
  background: #222222;
  border-bottom: 1px solid #bebebe;
}
.info-postagem {
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  text-align: center;
}
.criador {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.criador button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #d9d9d9;
  border: none;
  margin-left: 30px;
  margin-right: 13px;
}
.criador h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}
.criador span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-right: 35px;
  color: #bebebe;
}
.data-postagem {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}
.data-postagem p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0px 50px 50px 0px;
  color: #bebebe;
}
.text-publi {
  width: 90%;
  margin: 0 auto;
  height: 80px;
}
.text-publi p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: start;
  color: #ffffff;
  margin-bottom: 34px;
}

.foto-postagem {
  width: 100%;
  height: 415px;
}
.foto-postagem img {
  width: 100%;
  height: 100%;
}
.curtida-cometario {
  width: 100%;
  height: 60px;
  background-color: #222222;
  display: flex;
  align-items: center;
}
.curtida-cometario img {
  margin-left: 35px;
  cursor: pointer;
}

// ESTILO NAVBAR DIREIRA

.container-navDireita {
  position: fixed;
  width: 25%;
  height: 1460px;
  left: 75%;
  top: 0px;
  background: #222222;
  box-shadow: -5px 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.pesquisar {
  width: 100%;
  height: 100px;

  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}
.pesquisar button {
  width: 400px;
  height: 60px;
  border: none;
  background: #636363;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #bebebe;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}
.pesquisar img {
  padding-left: 110px;
}

.sugestao-reload {
  align-items: center;
  justify-content: space-between;
  display: flex;
  text-align: center;
  width: 90%;
  margin: 0 auto;

  height: 70px;
}
.sugestao-reload h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: #bebebe;
}

.sugestao-reload img {
  width: 25px;
  height: 25px;
}
.criador-card {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  margin-top: 10px;
}
.card {
  width: 90%;
  margin: 0 auto;
  height: 180px;
  margin-bottom: 15px;
}
.card img {
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
}
// media 768px - 430 nav bar esquerda

@media (max-width: 768px) {
  .container-navbar {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    position: fixed;

    height: 100px;
    right: 0;
    top: 90%;
  }
  .container-navbar .container-button,
  h2 {
    display: none;
  }
  .container-navbar > .name-usuario > button {
    display: flex;
    width: 90px;
    height: 70px;
    margin: 0;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    margin-bottom: 10px;
  }
  .opcoes-usuario h3 {
    display: none;
    width: 45px;
    height: 45px;
  }
  .opcoes-usuario {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  .container-usuarios {
    width: 15%;
    height: 50px;
    margin: 0%;
  }

  .container-usuarios img {
    width: 45%;
    height: 70%;

    margin: 0;
  }
  .container-usuarios > .assinatura {
    margin-top: 2px;
    margin: 0;
  }
  .name-usuario {
    margin: 0;
    width: 15%;
    height: 100%;
    margin-right: 25px;
  }
}
@media (max-width: 430px) {
  .container-usuarios {
    width: 15%;
    height: 30px;
    margin: 0%;
  }
  .container-navbar > .name-usuario > button {
    width: 80px;
    height: 60px;
    text-align: center;
    font-size: 25px;
    padding: 15px;
  }
}
// media 768px - 430 feed meio
@media (max-width: 768px) {
  .container-post {
    width: 100%;
    height: 100%;
  }
  .text-publi p {
    margin: 0;
    font-size: 12px;
  }
  .container-button {
    margin: 0 auto;
    width: 90%;
    height: 80px;
  }
  .container-button button {
    height: 50px;
  }
  .publi-post h1 {
    font-size: 16px;
  }
  .publi-post > div > img {
    width: 25px;
    height: 25px;
  }
  .main-post {
    height: 210px;
  }
  .baixar-publi img {
    margin-bottom: 200px;
  }
  .nova-publi p {
    font-size: 15px;
  }
  .publi-post {
    height: 80px;
    padding-bottom: 25px;
  }
  .foto-postagem img {
    height: 380px;
  }
  .criador button {
    width: 40px;
    height: 40px;
  }
  .criador h3 {
    font-size: 13px;
  }
  .criador span {
    font-size: 12px;
  }
  .data-postagem p {
    font-size: 13px;
  }
  .container-postagem {
    height: 690px;
  }
}
// media 768px - 430 nav bar esquerda
@media (max-width: 768px) {
  .pesquisar,
  .sugestao-reload,
  .card-none {
    display: none;
  }
  .container-navDireita {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    left: 0;
    height: 150px;
    top: 72%;
  }
  .card img {
    width: 100%;
    height: 150px;
  }
}
